---
# - name: Update apt cache
#   ansible.builtin.apt:
#     update_cache: true
#     cache_valid_time: 3600

# - name: Add Ondrej php8.3 repository
#   ansible.builtin.apt_repository:
#     repo: "ppa:ondrej/php8.3"
#     state: present
#   when: ansible_distribution == 'Ubuntu'

- name: Install php packages
  ansible.builtin.apt:
    name:
    - "php8.3"
    - "php8.3-bcmath"
    - "php8.3-cli"
    - "php8.3-common"
    - "php8.3-ctype"
    - "php8.3-curl"
    - "php8.3-dom"
    - "php8.3-fileinfo"
    - "php8.3-fpm"
    - "php8.3-gd"
    - "php8.3-imagick"
    - "php8.3-intl"
    - "php-json"
    - "php8.3-mbstring"
    - "php8.3-mysql"
    - "php8.3-opcache"
    - "php8.3-phar"
    - "php8.3-simplexml"
    - "php8.3-soap"
    - "php8.3-ssh2"
    - "php8.3-tokenizer"
    - "php8.3-xml"
    - "php8.3-xmlrpc"
    - "php8.3-zip"
    state: present

- name: Enable and start php8.3-FPM
  ansible.builtin.systemd:
    name: "php8.3-fpm"
    state: started
    enabled: yes
    daemon_reload: yes
