---
  # 2. Install NGINX + available modules
  - name: Install nginx and dynamic modules from repo
    ansible.builtin.dnf:
      name:
      - nginx
      state: present

  # 3. Install build dependencies for Brotli
  - name: Install build tools
    ansible.builtin.dnf:
      name:
      - gcc
      - gcc-c++
      - make
      - pcre-devel
      - zlib-devel
      - openssl-devel
      - git
      state: present

  # 4. Get current NGINX version
  - name: Get nginx package version
    package_facts:
      manager: auto

  - name: Set nginx version fact
    set_fact:
      nginx_version: "{{ ansible_facts.packages['nginx'][0].version }}"

  - name: Extract numeric version from nginx output
    set_fact:
      nginx_version: "{{ nginx_ver_raw.stderr.split('/')[-1] }}"

  # 5. Download and extract NGINX source
  - name: Download nginx source tarball
    get_url:
      url: "https://nginx.org/download/nginx-{{ nginx_version }}.tar.gz"
      dest: "/usr/local/src/nginx-{{ nginx_version }}.tar.gz"

  - name: Extract nginx source
    unarchive:
      src: "/usr/local/src/nginx-{{ nginx_version }}.tar.gz"
      dest: /usr/local/src/
      remote_src: yes

  # 6. Clone Brotli repository
  - name: Clone ngx_brotli repo
    git:
      repo: "{{ brotli_git_repo }}"
      dest: "{{ brotli_module_dir }}"
      version: master

  - name: Initialize Brotli submodules
    command: git submodule update --init --recursive
    args:
      chdir: "{{ brotli_module_dir }}"

  # 7. Compile Brotli modules
  - name: Configure build for Brotli modules
    command: >
      ./configure --with-compat --add-dynamic-module={{ brotli_module_dir }}
    args:
      chdir: "/usr/local/src/nginx-{{ nginx_version }}"

  # 8. Copy Brotli modules to NGINX modules directory
  - name: Build Brotli dynamic modules
    command: make modules
    args:
      chdir: "/usr/local/src/nginx-{{ nginx_version }}"

  - name: Copy Brotli filter module
    copy:
      src: "/usr/local/src/nginx-{{ nginx_version }}/objs/ngx_http_brotli_filter_module.so"
      dest: "{{ nginx_modules_dir }}/ngx_http_brotli_filter_module.so"
      mode: '0644'

  - name: Copy Brotli static module
    copy:
      src: "/usr/local/src/nginx-{{ nginx_version }}/objs/ngx_http_brotli_static_module.so"
      dest: "{{ nginx_modules_dir }}/ngx_http_brotli_static_module.so"
      mode: '0644'

  # 9. Add load_module lines into nginx.conf
  - name: Ensure load_module directives exist
    lineinfile:
      path: /etc/nginx/nginx.conf
      insertafter: "^#.*modules.*$"
      line: "{{ item }}"
      state: present
    loop:
    - "load_module modules/ngx_http_headers_more_filter_module.so;"
    - "load_module modules/ngx_http_cache_purge_module.so;"
    - "load_module modules/ngx_http_brotli_filter_module.so;"
    - "load_module modules/ngx_http_brotli_static_module.so;"

  # 10. Restart NGINX
  - name: Restart nginx
    service:
      name: nginx
      state: restarted
