user www-data;

worker_processes auto;

events { worker_connections 1048576; }

http {
  include mime.types;

  limit_req_zone $request_uri zone={{ zone }}  rate={{ rate }};

  gzip on;
  gzip_comp_level {{ gzip_comp_level }};
  gzip_types {{ gzip_types }};

  error_log {{ error_log }} {{ level }};

  server {
    listen {{ web_port }};
    server_name {{ domain_name }};
    root {{ project_directory }};
    index {{ index }};

    location / {
      try_files $uri $uri/ /index.php?$args /friendly_404;
    }

    location /friendly_404 {
      try_files /my404.png =404;
    }

    location ~ \.php$ {
      include snippets/fastcgi-php.conf;
      fastcgi_pass unix:/var/run/php/php8.3-fpm.sock;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
      include fastcgi_params;
    }

    location ~ /\.ht {
      deny all;
    }

    location = /favicon.ico {
      log_not_found off;
      access_log off;
    }

    location = /robots.txt {
      log_not_found off;
      access_log off;
    }

    location ~* \.(js|css|png|jpg|jpeg|gif|ico|svg)$ {
      expires max;
      log_not_found off;
    }
  }
}